{% extends 'base/__base.html' %}
{% block title %}
Đăng ký Thông tin người dùng
{% endblock title %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="" width="90%">
        </div>
        <div class="col-sm-4">
            <form action="" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group {% if field.errors %} is-invalid {% else %} is-valid {% endif %}">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div style="display:block" class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Đăng ký">
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#id_username").change(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'validate_username' %}",
                data: {
                    username: $(this).val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    $("#id_username").addClass('is-valid').removeClass('is-invalid');
                    $("#id_username").parent().find("div").remove();
                    $("#id_username").parent().append(`<div class='valid-feedback'>${data.message}</div>`);
                },
                error: function (xhr, testStatus, errorThrown) {
                    $("#id_username").addClass('is-invalid').removeClass('is-valid');
                    $("#id_username").parent().find("div").remove();
                    $("#id_username").parent().append(`<div class='invalid-feedback'>${xhr.responseJSON.message}</div>`);
                }
            })
        });
    }); 
</script>

{% endblock content %}