{% extends 'base/__base.html' %}
{% block title %}
	Home |
{% endblock title %}
{% block content %}
	{% load static %}
	{% load humanize %}
	{% load custom_filter %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

	<style>
		.brand-icon {
			border: 5px solid transparent;
			padding: 2px;
			width: auto;
			height: 35px;
			background-color: white;
			border-radius: 10px;
		}

		.brand-active {
			border: 5px solid transparent;
			border-color: orange;
			border-width: 2px;
			padding: 5px;
			width: auto;
			height: 35px;
			background-color: white;
			border-radius: 10px;
		}

		.dropdown {
		  position: relative;
		  display: inline-block;
		}
		
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 300px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  padding: 12px 16px;
		  z-index: 1;
		}
		
		.dropdown:hover .dropdown-content {
		  display: block;
		}

		</style>

	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'index' %}">
						<i class="bi bi-house-door"></i>
						Trang chủ
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page"><a href="">{{category.description}}</a></li>
			</ol>
		</nav>
	</div>
	
	<section>
		<div class="container">
			<div class="row">
				<!--brands-tab-->
				<div class="category-tab">
					<div class="col-sm-12">
						<ul class="nav nav-tabs" style="background-color: white;">
							<li class="dropdown">
								<a class="brand-icon">
									<i class="fas fa-bars" ></i>
								</a>
								<div class="dropdown-content">
									{% include 'common/categories.html' %}
								</div>
							</li>
							{% for brand in brands %}
								<li>
									<a href="?brand={{brand.name}}">
										<img src="{% static brand.icon %}" alt="{{brand.name}}" class="{% if brand.name == brand_display.name %}brand-active{% else %}brand-icon{% endif %}">
									</a>
								</li>	
							{% endfor %}
						</ul>
					</div>
					
					<div class="col-sm-12 padding-right">
						<div>
							{% for product in products %}
								{% include 'product/product-item.html' %}
							{% endfor %}
						</div>
						
					</div>
				</div>
				<!--brands-tab-->
			</div>
		</div>
	</section>
	
{% endblock content %}