{% extends "base_admin.html" %}
{% block content %}
<h3>Danh sách khuyến mãi</h3>

<a href="{% url 'custom_admin:promotion_add' %}" class="btn btn-primary mb-3">+ Thêm mới</a>

<div style="max-height: 500px; overflow-y: auto; border: 1px solid #dee2e6; border-radius: 5px;">
  <table class="table table-bordered table-hover mb-0">
    <thead class="table-light">
    <tr>
      <!-- <th>ID</th> -->
      <th>STT</th>
      <th>Sản phẩm</th>
      <th>Giảm giá (%)</th>
      <th>Bắt đầu</th>
      <th>Kết thúc</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for promo in promotions %}
    <tr>
      <!-- <td>{{ promo.id }}</td> -->
      <td>{{ forloop.counter }}</td>
      <td>{{ promo.product.name }}</td>
      <td>{{ promo.discount }}%</td>
      <td>{{ promo.start_date | date:"d \T\há\n\g m, Y" }}</td>
      <td>{{ promo.end_date | date:"d \T\há\n\g m, Y" }}</td>
      <td>
        <a href="{% url 'custom_admin:promotion_edit' promo.id %}" class="btn btn-sm btn-warning">Sửa</a>
        <a href="{% url 'custom_admin:promotion_delete' promo.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Xoá khuyến mãi này?')">Xoá</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">Không có khuyến mãi nào.</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
