{% extends "base_admin.html" %}
{% load static %}

{% block content %}
<h3>Danh sách người dùng</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên người dùng</th>
      <th>Email</th>
      <th>Người dùng</th>
      <!-- <th>Active?</th> -->
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        {% if user.is_staff %}
          Quản trị viên
        {% else %}
          Khách hàng
        {% endif %}
      </td>
      <!-- <td>{{ user.is_active }}</td> -->
      <td>
        <a href="{% url 'custom_admin:user_edit' user.id %}" class="btn btn-sm btn-warning">Sửa</a>
        <a href="{% url 'custom_admin:user_delete' user.id %}" class="btn btn-sm btn-danger"
          onclick="return confirm('Bạn có chắc muốn xoá người dùng này?');">Xoá</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}